<div class="searchContainer">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
  </div>

  <div class="searchButton" >
    Search by:
    <button (click)='setSearchType("nameCase")' class="btn btn-danger btn-xs">Name</button>
    <button (click)='setSearchType("emailCase")' class="btn btn-success btn-xs">Email</button>
    <button (click)='setSearchType("phoneCase")' class="btn btn-warning btn-xs">Phone</button>
  </div>
  
</div>


<hr>

<div class="panel panel-primary" *ngFor="let user of users | generalCase :name :pipeType">
    
      <div class="panel-heading">
        <h3 class="panel-title">{{user.name}}</h3>
      </div>
      <div class="panel-body">
        <strong>Username:</strong> {{user.username}}<br>
        <strong>Email:</strong> {{user.email}}<br>
        <strong>Phone number:</strong> {{user.phone}}<br>
        <strong>Street:</strong> {{user.address.street}}<br>
        <strong>Suite:</strong> {{user.address.suite}}<br>
        <strong>City:</strong> {{user.address.city}}<br>
        <strong>Zipcode:</strong> {{user.address.zipcode}}<br>
      </div>    
      
      <div class="goTo" >
        <button [routerLink]="['/posts', user.id]" class="btn btn-info btn-xs">Posts</button>
        <button [routerLink]="['/photos', user.id]" class="btn btn-info btn-xs">Photos</button>
      </div>
      
      
</div>