
<div class="searchContainer">
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Search" [(ngModel)]="id">
    </div>

    <div class="searchButton" >
        Search by:
    <button routerLink="/users" class="btn btn-warning btn-xs">Username</button>
    <button (click)='setSearchType("userIdCase")' class="btn btn-danger btn-xs">User ID</button>
    <button (click)='setSearchType("postIdCase")' class="btn btn-success btn-xs">Post ID</button>
    </div>
</div>

<hr>

<div class="panel panel-primary" *ngFor="let post of posts | generalCase :id :pipeType">
    <div class="panel-heading">
         <h3 class="panel-title">{{post.title}}</h3>
    </div>
    <div class="panel-body">
        {{post.body}}
    </div>    

</div>
    








